@model IEnumerable<WebPizzeria.Models.Categorium>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Categoria</h1>

<p>
    <a asp-action="Create">Crear Nueva Categoria</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioRegistro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th> *@
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsuarioRegistro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
           @*  <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td> *@
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdCategoria" title="Editar"><i class="fa fa-edit"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdCategoria" title="Detalle"><i class="fa fa-list"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdCategoria" title="Eliminar"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
                }
    </tbody>
</table>
